@font-face{
    font-family: 'Splatoon';
    src: url('//s.cdpn.io/12109/Splatoon.eot');
    src: url('//s.cdpn.io/12109/Splatoon.eot?#iefix') format('embedded-opentype'),
         url('//s.cdpn.io/12109/Splatoon.woff2') format('woff2'),
         url('//s.cdpn.io/12109/Splatoon.woff') format('woff'),
         url('//s.cdpn.io/12109/Splatoon.ttf') format('truetype'),
         url('//s.cdpn.io/12109/Splatoon.svg#Splatoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background:#1f1f38;
    overflow:hidden;
}
*{font-family: 'Splatoon', Arial;
    font-weight: normal;
    font-size:34px;
    color:#aadc00;
    letter-spacing:2px;
}

#equalizer_container{
    width:1280px; height:720px;
    background: url(https://s.cdpn.io/12109/bg.jpg) 0 0 no-repeat;
    position:absolute; left:50%; top:0px; margin-left:-640px;
    border-radius:16px;
    box-shadow:inset 0 0 16px 5px #1f1f38;
}

.ink_tank{
    width:162px; height:459px;
    overflow:hidden;
    position:relative; float:left;
    margin-top:137px; margin-right:60px;
}
.ink_tank:before{
    content:"";
    width:100%;height:100%;
    background: url(https://s.cdpn.io/12109/ink_tank.png) 0 0 no-repeat;
    position:absolute; left:0px; top:0px;
    z-index:10;
}

.ink_tank.first{ margin-left:112px; }

.ink_tank .ink{
    width:122px; height:358px;
    position:absolute; left:20px; top:59px;
    background: url(https://s.cdpn.io/12109/ink.png) 0 0 no-repeat;
    overflow:hidden;
}
.ink.orange{    background-position:0px 0px; }
.ink.yellow{    background-position:-122px 0px; }
.ink.green{     background-position:-244px 0px; }
.ink.purple{    background-position:-366px 0px; }
.ink.magenta{   background-position:-488px 0px; }

.ink_surface{
    width:122px; height:96px;
    background: url(https://s.cdpn.io/12109/ink_surface.png);
    background-repeat:no-repeat;
    background-position:0px 0px;

    position:absolute; left:0px;top:1px;
    z-index:7; 
    transform-style: preserve-3d;
}
.ink_empty{
    width:122px; height:1px;
    background: #20201b;
    position:absolute; left:0px;top:0px;
    z-index:5;
    transform-style: preserve-3d;
}
#controls{
    width:1280px;height:128px;
    position:absolute;
    left:50%;top:570px;margin-left:-640px;
    z-index:100;
    text-align:center;
    display:block;
}

#toggle_audio{
    float:left;
    width:111px; height:111px;
    background:url(https://s.cdpn.io/12109/toggle_audio.png) 0 0 no-repeat;
    position:absolute;right:0px;top:0px;
}
#toggle_audio.pause{
    background-position:-111px 0px;
}

button{
    cursor:pointer;
    border:none;
    outline:none;
}
button:hover{
    transform: rotate(5deg) scale(1.1,1.1);
    transition:transform 0.1s ease;
}
#play_splatoon_music{
    width:96px;height:96px;
    position:absolute;left:0px;top:10px;
    border-radius:18px;
    background: url(https://31.media.tumblr.com/avatar_3535825f7605_128.png) 0 0 no-repeat;
    background-size:96px 96px;
}
#play_beat_loop{
    width:96px;height:96px;
    position:absolute;left:106px;top:10px;
    border-radius:18px;
    background: url(https://s.cdpn.io/12109/mj.png) 0 0 no-repeat;
}
#loading{
    width:1280px;height:48px;line-height:32px;
    color:#df36a5;
    position:absolute;left:0px;top:0px;
    display:none;
}
#credits{
    font-family:Arial;
    color:#843291;
    font-size:11px;
    width:100%; height:26px;
    position:absolute;left:0px;bottom:0px;
    text-align:center;
    letter-spacing:1px;
}

#drag_drop_area{
    border-radius:16px;
    width:96px;height:96px;
    border:3px dashed #aadc00;
    position:absolute;
    right:121px;top:0px;
    background:#1f1f38;
    box-shadow: 0 0 6px 2px transparent;
    transition:all 0.1s ease;
}
#drag_drop_area:before{
    content:'\2714';
    font-family:Arial;
    font-size:48px; line-height:96px;
    width:96px;height:96px;
    border-radius:16px;
    position:absolute;left:0px;top:0px;
    pointer-events:none;
    display:none;
}
#drag_drop_area:after{
    content:"Drag n drop music here!";
    font-size:21px;line-height:24px;
    pointer-events:none;
    width:180px;height:56px;
    position:absolute;left:-48px;top:-64px;
    transform: rotate(-10deg);
}
#drag_drop_area:hover, #drag_drop_area:active, #drag_drop_area.drop_aware{
    border-color:#fff;
    background:#2e2e54;
}
#drag_drop_area.drop_animate:before{
    display:block;
}
#drag_drop_area.drop_animate{
    transform: scale(0.94,0.94);
    box-shadow: 0 0 6px 2px rgba(170,220,0,1);
    background:#2e2e54;
}